<div class="toast custom-toast rounded-0 border-top-0 ml-auto" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
    <div class="arrow-up arrow-success"></div>
    <div class="w-100 toast-capper bg-success"></div>
    <div class="toast-header bg-white text-dark ">
        <strong class="ml-auto fs-4">Success!</strong>
        <button type="button" class="ms-3 mb-1 close text-dark" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {% if grand_total > 0%}
        <div class="btn-wrapper">
            <a href="{% url 'view_cart' %}" class="btn btn-orange ms-5">
                <span class="btn-text">Bag View</span>
            </a>
        </div>
        {% endif %}
    </div>
    <div class="toast-body bg-light">
        <div class="row">
            <div class="col">
                {{ message }}
                <hr class="mt-1 mb-3">
            </div>
            
        </div>
        {% if grand_total and not on_profile_page %}
            <p class="logo-font bg-light text-dark py-1">Your Bag ({{ item_count }})</p>
            <div class="bag-notification-wrapper">
                {% for item in cart_items %}
                    <div class="row">
                        <div class="col-3 my-1">
                            {% if item.product.image %}
                            <img class="w-100" src="{{ item.product.image.url }}" alt="{{ item.product.title }}">
                            {% else %}
                            <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.title }}">
                            {% endif %}
                        </div>
                        <div class="col-9">
                            <p class="my-0"><strong>{{ item.product.title }}</strong></p>x
                            <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col">
                    <strong><p class="mt-3 mb-1 text-dark">
                        Total(excl delivery charge): 
                        <span class="float-right">£{{ total|floatformat:2 }}</span>
                    </p></strong>
                    {% if total < 15 %}
                        <a href="{% url 'products' %}" class="btn btn-orange-border">
                            <span class="text-danger">Min spend £15</span>
                        </a>
                    {% else %}
                        <a href="{% url 'checkout' %}" class="btn btn-orange">
                            <span class="text-uppercase">Go To Secure Checkout</span>
                            <span class="icon">
                                <i class="fa fa-lock"></i>
                            </span>
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</div>