{% extends 'home/base.html' %}
{% load static %}

{% block heroimage %}
<div class="container-fluid">
    <div class="hero-image-wrapper">
        <img class="img-fluid" src="{% static 'home/images/hero-appliance1.jpg' %}" alt="hero-image">
        <div class="top-left">
            <h1 class="hero-text-style">Gadgets for</h2>
            <h1 class="hero-text-style">all your needs</h2>
            <a class=" nav-link hero-text-style" href="{% url 'view_product' %}">BUY NOW</a>
        </div>
    </div>
</div>

{% endblock %}

<!-- Viewing products by category -->


{% block content %}


<div class="container-fluid mb-5">
    {% for category in categories%}
    <h3>Most Popular {{ category.name }}s</h3>
    <div class="row card-row">
        {% if category.products.all|length <= 3 %}
        {% for product in category.products.all %}
    
        <a class="nav-link" href="{% url 'product_detail' product.asin %}">
            <div class="card shadow gadget-custom-card mt-5">
                <img src="{{ product.image.url }}" class="card-img-top image-style mt-2" alt="{{product.title}}">
                <div class="card-body">
                    <h4 class="card-title">{{ product.title }}</h4>
                    <p class="card-text">Price: £{{product.price}}</p>
                </div>
            </div>
        </a>
        
        {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
</div>

{% endblock %}