/* @import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');


/* body{
    background-color: #343a40!important;
    color: #ffffff
    
} */

.font-navbar{
    /* font-family: 'Black Ops One', cursive; */
    font-family: 'Electrolize', sans-serif;
    font-size: 16px;
}

.font-hero-text{
  /* font-family: 'Black Ops One', cursive; */
  font-family: 'Electrolize', sans-serif;
  font-size: 18px;
}

/* .navbar-dark .navbar-nav .nav-link {
    color: rgb(204, 85, 0, .5)
} */

/* .navbar-color{
    background-color: rgb(204, 85, 0)
} */

.hero-image-wrapper{
  max-height: 600px;
}

.hero-text-style{
  text-transform: uppercase;

}

.container-text {
  position: relative;
}

.top-left {
  position: absolute;
  top: 125px;
  left: 200px;
  padding-left: 20px;
  padding-right: 20px;
}
.hero-image-wrapper img{
  width: 100%;
  z-index: -50;
  
}

.category{
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.btn-orange {
    color: #fff;
    background-color: #fe5610;
    border-color: #fe5610;
}

.btn-orange-border {
    color: #fe5610;
    background-color: #fff;
    border-color: #fe5610;
}

.custom-badge{
    font-size: 70%;
    line-height: 0.75;
}

.custom-toast{
  overflow: visible;
  z-index: 50;
  position: absolute;
  top: 0;
  right: 0;
}

