/* @import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');


.font-navbar{
    font-family: 'Electrolize', sans-serif;
    font-size: 16px;
}

.font-hero-text{
  font-family: 'Electrolize', sans-serif;
  font-size: 18px;
}

.card-center{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
}


.hero-image-wrapper{
  max-height: 600px;
}

.hero-text-style{
  text-transform: uppercase;
  font-size: 28px;

}

.container-text {
  position: relative;
}

.top-left {
  position: absolute;
  top: 125px;
  left: 200px;
  padding-left: 20px;
  padding-right: 20px;
}
.hero-image-wrapper img{
  width: 100%;
  z-index: -50;
  
}

.category{
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.btn-orange {
    color: #fff;
    background-color: #fe5610;
    border-color: #fe5610;
}

.btn-orange-border {
    color: #fe5610;
    background-color: #fff;
    border-color: #fe5610;
}

.custom-badge{
    font-size: 70%;
    line-height: 0.75;
}

.custom-toast{
  overflow: visible;
  z-index: 50;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 920px) {
  .top-left {
    top: 35px;
    left: 35px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

