/* @import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');


/* body{
    background-color: #343a40!important;
    color: #ffffff
    
} */

.font-navbar{
    /* font-family: 'Black Ops One', cursive; */
    font-family: 'Electrolize', sans-serif;
    font-size: 16px;
}

.font-hero-text{
  /* font-family: 'Black Ops One', cursive; */
  font-family: 'Electrolize', sans-serif;
  font-size: 18px;
}

/* .navbar-dark .navbar-nav .nav-link {
    color: rgb(204, 85, 0, .5)
} */

/* .navbar-color{
    background-color: rgb(204, 85, 0)
} */

.hero-image-wrapper{
  border: solid 1px red;
  max-height: 600px;
  overflow: hidden;
  
}

.hero-text-style{
  text-transform: uppercase;

}

.hero-image-wrapper img{
  width: 100%;
  z-index: -50;
  
}

.category{
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.btn-orange {
    color: #fff;
    background-color: rgb(204, 85, 0);
    border-color: rgb(204, 85, 0);
}

.btn-orange-border {
    color: rgb(204, 85, 0);
    background-color: #fff;
    border-color: rgb(204, 85, 0);
}

.hide-reveal{
  padding: 8px;
  width: 8rem;
  background-color: orange;
  
}

.hide-reveal:hover{
  display: none;
  transition: 5s ease-in;
}

.login-wrapper{
  width: 500px;
  height: 300px;
  position: fixed;
  top: 60px;
  right: -460px;
  display: flex;
  justify-content: center;
  align-items: center;
/*   border: 3px solid red; */
  padding: 0;
}

.login-btn{
  height: 150px;
  width: 50px;
  border: 2px solid yellow;
  
}

.vertical-writing{
/*   transform: rotate(-90deg); */
  writing-mode: vertical-rl;
  font-weight: bolder;
  cursor: pointer;
}

.login-page-reveal{
  right: 10px;
  filter: drop-shadow(0.4rem 0.4rem 0.2rem rgba(0, 0, 0, 0.2));
  transition: ease in-out 10s;
  
}

.custom-badge{
    font-size: 70%;
    line-height: 0.75;
}

