{% extends 'home/base.html' %}

{% block content %}
<p>Profile Management</p>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <a href="{% url 'profile' %}">Edit Profile</a>
        </div>
    </div>
</div>

<p>Product Management</p>

<div class="container">
    <div class="row">
        <fieldset class="border">
            <div class="col-md-6">
                <a href="{% url 'add_category' %}">Add Category</a>
            </div>
            <div class="col-md-6">
                <a href="{% url 'add_product' %}">Add Product</a>
            </div>
        </fieldset>
        <fieldset>
            <div class="col-md-6">
                <a href="#">Add Product</a>
            </div>
            <div class="col-md-6">
                <a href="#">Add Product</a>
        </div>
        </fieldset>
        <fieldset>
            <div class="col-md-6">
                <a href="#">Add Product</a>
            </div>
            <div class="col-md-6">
                <a href="#">Add Product</a>
            </div>
        </fieldset>
    </div>
</div>


{% endblock %}