{% extends 'home/base.html' %}
{% load static %}

{% block nav-secondary %}

{% endblock %}


{% block content %}

<h1 class="my-2">Product details</h1>
<div class="container-fluid">
    <div class="row my-2">
        <div class="col-md-6">
            <img class='w-75' src="{{ product.image.url }}">
        </div>
        <div class="col-md-5">
            <h4>{{ product.title }}</h4>
            <h6>{{ product.description }}</h6>
            <p>ASIN: {{ product.asin }}</p>
            <h6>Price: {{ product.price }}</h6>
            <h6>Quantity: {{ product.quantity }}</h6>
            <form class="form" method="POST" action="{% url 'add_cart' product.asin %}">
                {% csrf_token %}
                <div class="form-row w-75">
                    <div class="col-md-12">
                        <p>Quantity:</p>
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" type="number" , name="quantity" , value="1" , min="1" ,
                                    max="99" data-item_id="{{ product.asin }}" id="id_qty_{{ prouct.asin }}">
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <a class="btn btn-primary" href="">Add to Wishlist</a>
                        <a class="btn btn-primary" href="{% url 'view_product' %}">Keep Shopping</a>
                        <input class="btn btn-primary" type="submit" , value="Add To Cart">
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Section to review the product -->

<div class="row my-5">
    <div class="col-12 col-md-5 mx-2">
        <div>
            <h4>What do you feel about this product? Leave a review.</h4>
            <hr>
                {% if request.user.is_authenticated %}
                <div class="col-12">
                    <form action="{% url 'add_review' product.asin %}" method="POST">
                        {% csrf_token %}
                        {{ form| crispy }}
                        <div class="text-right mt-3">
                            <a class="btn btn-primary " href="{% url 'product_detail' product.asin %}">Cancel</a>
                            <button class="btn btn-primary ms-1" type="submit">Add Review</button>
                        </div>
                    </form>
                </div>
                {% endif %}
        </div>
    </div>
    <div class="col-12 col-md-5 mx-2 py-2">
        <div>
            <h4 class="text-center">What our customers say</h4>
            {% for review in reviews %}
            <div>
                <div class="border mx-1 my-2 px-2">
                    <div >
                        <p>On {{ review.date_created|date:'d M Y'}} {{review.author}} says:</p>
                        <h4>
                            {{review.review_title}}
                        </h4>
                        <p>{{review.review_body}}</p>
                    </div>
                    <div class="mr-auto">
                        <a href="#"><small>Edit</small></a>
                        <a href="#"><small>Delete</small></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}