{% extends 'base.html' %}


{% block nav-secondary %}

{% endblock %}

{% block content %}

<p>Product Page</p>

<hr>

<div class="container mb-5">
    <div class="row card-row">
        {% for product in products %}
        <a href="{% url 'product_detail' product.asin %}">
            <div class="card shadow gadget-custom-card mt-5">
                <img src="{{ product.image.url }}" class="card-img-top image-style mt-2" alt="{{product.title}}">
                <div class="card-body">
                    <h4 class="card-title">{{ product.title }}</h4>
                    <small class="card-text">Me</small>
                </div>

            </div>
        </a>
        {% endfor %}
    </div>
</div>

<hr>

{% endblock %}