{% extends 'base.html' %}
{% load static %}

{% block nav-secondary %}

{% endblock %}


{% block content %}

<h1>Product details</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <img src="{{ product.image.url }}">
        </div>
        <div class="col-md-5">
            <h4>{{ product.title }}</h4>
            <h6>{{ product.description }}</h6>
            <p>ASIN: {{ product.asin }}</p>
            <h6>Price: {{ product.price }}</h6>
            <h6>Quantity: {{ product.quantity }}</h6>
        <form class="form" method="POST" action="{% url 'add_cart' product.asin %}">
                {% csrf_token %}
                <div class="form-row w-50">
                    <div class="col-md-12">
                        <p>Quantity:</p>
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" type="number" , name="quantity" , value="1" , min="1" ,
                                    max="99" data-item_id="{{ product.asin }}" id="id_qty_{{ prouct.asin }}">
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <a href="">Add to Wishlist</a>
                        <input class="btn btn-primary" type="submit" , value="Add To Wishlist">
                    </div>
                    <div class="col-12">
                        <a href="{% url 'product_view' %">Keep Shopping</a>
                        <input class="btn btn-primary" type="submit", value="Add To Cart">
                    </div>                 
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>


        </form>
        </div>

    </div>
</div>    
<h1>Your review:</h1>

<div class="container">
    <form method="POST", action="{% url 'add_review' product.asin %}">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit Review">

    </form>
</div>

<h1>User Reviews</h1>

{% for review in reviews %}
    <div class="container">
        <h2>{{ review.review_title }}</h2>
        <hr/>
        <p>{{ review.review_body }}</p>
        <p> Created by: {{ review.author }} on {{ review.date_created }}</p>
    </div>

{% endfor %}

{% endblock %}